/* general styles */
body {
    /* background-color: #ccc; */
}

/* general style: fonts */
h1, .mdl-layout__title, .mdl-layout-title, .mdl-card__title-text {
    font-family: 'Alfa Slab One', cursive;
}

body, h2, h3, h4, h5, h6, p, li, ul, span {
    font-family: 'Crimson Text', serif;
}

a:hover, a:focus {
    text-decoration: none;
}

/* general style: top margins */
.about-page__content, .blog-index__content {
    margin-top: 70px;
}


/* blog post */

.page-header h1 {
    font-size: 3em;
}

/* title */
.mdl-layout-title a {
    font-size: 30px;
}

.mdl-layout-title a:hover {
    text-decoration: none;
}

/* nav bar */
body {
    padding-top: 0px !important;
}

main.mdl-layout__content {
    z-index: 0;
}

.mdl-layout__drawer-button {
    color: rgba(205, 220, 57, 0.65);
}

.mdl-navigation__link {
    border-bottom: 3px solid transparent;
    font-size: 20px;
}

.mdl-navigation__link:hover, .mdl-navigation__link:active {
    /* border-bottom: 10px solid #f9cc9d; */
    border-bottom: 10px solid rgba(205, 220, 57, 0.65);
}

.mdl-layout__container {
    position: inherit;
}

.mdl-layout__header { /*horizontal gradient, top to bottom white */
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(#8e9eab , #fff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#8e9eab , #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: #757575; */
}

.mdl-layout__header {
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: #757575; */
}

.mdl-layout-title a {
    color: #fff;
}

/* nav bar: type formatting */
.mdl-layout-title a {
    color: #fff;
}

/* nav bar: side */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    color: #fff;
}

/* post cards */
.post {
    width: 100%;
    margin-top: 0;
    /* margin-top: 6em;
    margin-bottom: 6em; */
}

.mdl-grid.mdl-grid--no-spacing>.mdl-cell,
.post .mdl-grid .mdl-cell {
    margin-left: auto;
    margin-right: auto;
}

.mdl-card__title {
    max-height: 180px;
}

.mdl-card-a {
    width: 100%;
}

.mdl-card-b {
    width: 50%;
    float: left;
    margin: 0em 0em 0em 0;
}

.mdl-card-b:after {
    width: 50%;
    float: left;
    margin-right: 0em;
    clear: both;
    display: block;
}

.mdl-card-c {
    width: 50%;
}

.mdl-card-c:after {
    width: 50%;
    clear: both;
    display: block;
}

.mdl-card {
    max-height: 512px;
    /* background-color: #d7dee0; */
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
}

.mdl-card__supporting-text p {
    margin: 0;
}

/* post cards: button and tag alignment */
.mdl-card__actions {
    display: inline-flex;
}

.card-bottom__wrapper {
    float: left;
}

/* post cards: header text */
.mdl-card__title-text a {
    color: #000;
}

.mdl-card__title-text:hover,
.mdl-card__title-text:active {
    border-bottom: 10px solid rgba(205, 220, 57, 0.65);
}

/* post cards: about page */
.mdl-card--about {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

/* post cards: tags */
.infopanel {
    display: inline-table;
    margin: 0 0 8px 8px;
    float: right;
}

/* post cards: read button */
.mdl-button:active,
.mdl-button:hover {
    background-color: #cddc39;
    opacity: 0.7;
    color: #fff;
}

.post img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; */
}

/* homepage: grid */
.page-content .mdl-grid--no-spacing .mdl-cell:active,
.page-content .mdl-grid--no-spacing .mdl-cell:hover {
    border-style: solid;
    border-width: 0 130px 170px 0;
    border-color: transparent rgba(154, 168, 180, 0.15) rgba(128, 160, 187, 0.06) transparent;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.14), 0 4px 2px -1px rgba(0,0,0,.2), 0 2px 6px 0 rgba(0,0,0,.12);
}

.top-center--desktop,
.center-right--desktop,
.bottom-left--desktop {
    background-color: rgba(205, 220, 57, 0.65);
    height: 33.33vh;
    border-style: solid;
    border-width: 0 130px 170px 0;
    border-color: transparent #ccdc39 rgba(243, 255, 138, 0.65) transparent;
}

.top-left--desktop,
.top-right--desktop,
.bottom-center--desktop {
    background-color: #d7dee0;
    height: 33.33vh;
    border-style: solid;
    border-width: 0 130px 170px 0;
    border-color: transparent rgba(154, 168, 180, 0.65) rgba(128, 160, 187, 0.36) transparent;
}

.center-left--desktop,
.bottom-right--desktop {
    height: 33.33vh;
    border-style: solid;
    border-width: 0 130px 170px 0;
    border-color: transparent rgba(154, 168, 180, 0.15) rgba(128, 160, 187, 0.06) transparent;
}

/* about */
.about-page__content {
    width: 66.666666667%;
    margin-left: auto;
    margin-right: auto;
}

.about-page__content .mdl-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
}

@media (max-width: 839px) and (min-width: 480px) {
.mdl-layout__content .about-page__content .mdl-grid {
    flex-direction: inherit;
}
}

@media (max-width: 479px) {
.mdl-layout__content .about-page__content .mdl-grid {
    flex-direction: inherit;
}
}

.left-desktop {
    min-height: 500px;
}

.bottom-right--desktop {
    flex: 1 0;
}

.about-page__content .mdl-grid--no-spacing .mdl-cell,
.about-page__content .mdl-grid--no-spacing .mdl-cell {
    background-color: #d7dee0;
    height: 33.33vh;
    border-style: solid;
    border-width: 0 130px 170px 0;
    border-color: transparent rgba(154, 168, 180, 0.65) rgba(128, 160, 187, 0.36) transparent;
}
