/* fonts */
.mdl-layout__title, .mdl-layout-title {
    font-family: 'Alfa Slab One', cursive;
}

body, h2, h3, h4, h5, h6, p, li, ul, span {
    font-family: 'Crimson Text', serif;
}

a:hover, a:focus {
    text-decoration: none;
}
/* title */
.mdl-layout-title a {
    font-size: 30px;
}

.mdl-layout-title a:hover {
    text-decoration: none;
}

/* nav bar */
body {
    padding-top: 0px !important;
}

main.mdl-layout__content {
    z-index: 0;
}

.mdl-navigation__link {
    border-bottom: 3px solid transparent;
}

.mdl-navigation__link:hover, .mdl-navigation__link:active {
    border-bottom: 10px solid #f9cc9d;
}

.mdl-layout__container {
    position: inherit;
}

.mdl-layout__header {
    background-color: #d9a89d;
}

.mdl-layout-title a {
    color: #fff;
}

/* nav bar: type formatting */
.mdl-layout-title a {
    color: #fff;
}

/* nav bar: side */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #d9a89d;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    color: #fff;
}

/* post cards */
.post-loop {
    margin-left: auto;
    margin-right: auto;
}

.mdl-card-a {
    width: 99%;
}

.mdl-card-b {
    width: 48%;
    float: left;
    margin: 2em 2em 2em 0;
}

.mdl-card-b:after {
    width: 48%;
    float: left;
    margin-right: 2em;
    clear: both;
    display: block;
}

.mdl-card-c {
    width: 48%;
}

.mdl-card-c:after {
    width: 48%;
    clear: both;
    display: block;
}

.infopanel {
    display: inline-table;
}

.mdl-card {
    max-height: 512px;
}

.mdl-card__title {
    max-height: 180px;
}

/* post cards: about page */
.mdl-card--about {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}