    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ url_for('home') }}"><h4>home</h4></a>
        <a class="mdl-navigation__link" href="{{ url_for('about') }}"><h4>about</h4></a>
		<a class="mdl-navigation__link" href="{{ url_for('index') }}"><h4>blog</h4></a>
		{% if session.user %}
        <a class="mdl-navigation__link" href="{{ url_for('users_list') }}"><h4>users</h4></a>
        <a class="mdl-navigation__link" href="{{ url_for('logout') }}"><h4>logout</h4></a>
        <a class="mdl-navigation__link" href="{{ url_for('posts') }}"><h4>posts</h4></a>
        <a class="mdl-navigation__link" href="{{ url_for('new_post') }}"><h4>new post</h4></a>
        <a class="mdl-navigation__link" href="{{ url_for('blog_settings') }}"><h4>settings</h4></a>
        {%- endif -%}
    </nav>
        <hr>
	{%- block search -%}{%- include 'search.html' -%}{%- endblock -%}
        <span class="mdl-layout-title"><h4>Recent posts</h4></span>
        <nav class="mdl-navigation">
            {% for post in recent_posts %}
            <a class="mdl-navigation__link" href="{{ url_for('single_post', permalink=post['permalink']) }}">{{ post['title'] | safe }}</a></li>
            {% endfor %}
        {%- if tags -%}
        </nav>
        <span class="mdl-layout-title"><h4>Top Topics</h4></span>
        <nav class="mdl-navigation">
            {% for tag in tags %}
            <a class="mdl-navigation__link" href="{{ url_for('posts_by_tag', page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
            {% endfor %}
        {%- endif -%}
        </nav>