<!DOCTYPE html>
<html lang="en">
	{%- block head -%}{%- include 'head.html' -%}{%- endblock -%}
	<body>
			<main class="mdl-layout__content">
				{%- block sidebar -%}{%- include 'sidebar.html' -%}{%- endblock -%}
				<div class="page-content about-page__content">
					<div class="mdl-grid mdl-grid--no-spacing">
						<div class="left-desktop mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							about
						</div>
						<div class="top-right--desktop mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<p>'Of course,' the Mock Turtle said: 'advance twice, set to partners—' '—change lobsters, and retire in same order,' continued the Gryphon. 'Then, you know,' the Mock Turtle went on, 'you throw the—' 'The lobsters!' shouted the Gryphon, with a bound into the air. '—as far out to sea as you can—' 'Swim after them!' screamed the Gryphon. 'Turn a somersault in the sea!' cried the Mock Turtle, capering wildly about. 'Change lobsters again!' yelled the Gryphon at the top of its voice. 'Back to land again, and that's all the first figure,' said the Mock Turtle, suddenly dropping</p>
						</div>
                    </div>
				</div>
			</main>
	</body>
</html>