<!DOCTYPE html>
<html lang="en">
	{%- block head -%}{%- include 'head.html' -%}{%- endblock -%}
	<body>
		{%- block nav -%}
		<div class="mdl-layout mdl-js-layout">
  			<div class="mdl-layout__drawer">
    		<span class="mdl-layout-title">Nicholas Chung</span>
    		<nav class="mdl-navigation">
        		<a class="mdl-navigation__link" href="{{ url_for('home') }}">home</a>
        		<a class="mdl-navigation__link" href="{{ url_for('about') }}">about</a>
				<a class="mdl-navigation__link" href="{{ url_for('index') }}">blog</a>
				{% if session.user %}
        		<a class="mdl-navigation__link" href="{{ url_for('users_list') }}">users</a>
        		<a class="mdl-navigation__link" href="{{ url_for('logout') }}">logout</a>
        		<a class="mdl-navigation__link" href="{{ url_for('posts') }}">posts</a>
        		<a class="mdl-navigation__link" href="{{ url_for('new_post') }}">new post</a>
        		<a class="mdl-navigation__link" href="{{ url_for('blog_settings') }}">settings</a>
				{% endif %}
    		</nav>
			{%- block search -%}{%- include 'search.html' -%}{%- endblock -%}
			<span class="mdl-layout-title">Recent posts</span>
        	<nav class="mdl-navigation">
            	{% for post in recent_posts %}
            	<a class="mdl-navigation__link" href="{{ url_for('single_post', permalink=post['permalink']) }}">{{ post['title'] | safe }}</a></li>
            	{% endfor %}
        		{%- if tags -%}
    		</nav>
        	<span class="mdl-layout-title">Top Topics</span>
        	<nav class="mdl-navigation">
            	{% for tag in tags %}
				<a class="mdl-navigation__link" href="{{ url_for('posts_by_tag', page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
            	{% endfor %}
        		{%- endif -%}
        	</nav>
  		</div>
		{%- endblock -%}
			<main class="mdl-layout__content">
				<div class="page-content home-page__content">
					<div class="mdl-grid mdl-grid--no-spacing">
						<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone top-center--desktop">
							{# 12/12 desktop (top-center) | 8/8 tablet (top center) | 4/4 phone (1st) #}
							<h2>nicholas chung</h2>
							<p>civic tech and policy.</p>
						</div>
					</div>
					<div class="mdl-grid mdl-grid--no-spacing mdl-grid--flex">
						<div class="left-one--desktop mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							{# 6/12 desktop (left-first) | 4/8 tablet (2nd row left) | 4/4 phone (2nd) #}
							<a href="http://0.0.0.0:8080/tag/projects"><h4>projects.</h4></a>
							{# link header to page with blog results on the following content: #}
							<p>civic tech, policy, and open data.</p>
						</div>
						<div class="left-two--desktop mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							{# 6/12 desktop (left-second) | 4/8 tablet (2nd row right) | 4/4 phone (3rd) #}
							<a href="http://0.0.0.0:8080/tag/writing"><h4>writing.</h4></a>
							{# link header to page with blog results on the following content: #}
							<p>essays and other text-based projects.</p>
						</div>
						<div class="left-three--desktop mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							{# 6/12 desktop (left-third) | 4/8 tablet (3rd row left) | 4/4 phone (4th) #}
							<a href="http://0.0.0.0:8080/tag/tools"><h4>tools.</h4></a>
							{# link header to page with blog results on the following content: #}
							<p>documentation.</p>
						</div>
						<div class="left-four--desktop mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							{# 6/12 desktop (left-fourth) | 4/8 tablet (4th row right) | 4/4 phone (5th) #}
							<a href="http://0.0.0.0:8080/about"><h4>about.</h4></a>
							{# link header to about page: #}
							<p>who i am.</p>
						</div>
						<div class="left-five--desktop mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
							{# 6/12 desktop (left-fifth) | 8/8 tablet (5th row center) | 4/4 phone (6th) #}
							<h4>contact.</h4>
							<p>me (at) nichchung (dot) com</p>
							<a class="contact-links"><a href="https://github.com/nichung">github</a> <a href="https://soundcloud.com/nicholas-chung-10">soundcloud</a> <a href="https://twitter.com/nichchung">twitter</a> <a href="https://www.linkedin.com/in/nicholas-chung-532bb631/">linkedin</a></p>
						</div>
						<div class="right-one--desktop mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
							<div id="interactive-portrait">
								<object type="image/svg+xml" data="static/img/drawing_face_edit__2.svg" class="portrait" id="portrait-object">
									portrait <!-- fallback image in css -->
								</object>
							</div>
						</div>
                    </div>
				</div>
			</main>
		{%- include 'footer.html' -%}
		{%- block scripts -%}
			<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
			{%- block additional_js -%}{%- endblock -%}
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			{# <script src="static/js/portrait.js"></script> #}
		{%- endblock -%}
	</body>
	</body>
</html>



