<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <nav class="mdl-layout__header-row">
      <!-- Title -->
        <span class="mdl-layout-title"><a href="{{ url_for('home') }}">Nicholas Chung</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation Tabs -->
      <nav class="mdl-navigation mdl-js-ripple-effect">
          {# <form class="" method="post" action="{{ url_for('search') }}">
          <div class="mdl-textfield mdl-js-textfield">
              <textarea class="mdl-textfield__input" type="text">
              <input type="text" name="query" class="form-control col-lg-8" placeholder="Search">
              <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
              </textarea>
          </div>
      </form> #}
        <a class="mdl-navigation__link" href="{{ url_for('home') }}">home</a>
        <a class="mdl-navigation__link" href="{{ url_for('about') }}">about</a>
		<a class="mdl-navigation__link" href="{{ url_for('index') }}">blog</a>
		  {% if session.user %}
		<a class="mdl-navigation__link" href="{{ url_for('users_list') }}">users</a>
        <a class="mdl-navigation__link" href="{{ url_for('logout') }}">logout</a>
		<a class="mdl-navigation__link" href="{{ url_for('posts') }}">posts</a>
		<a class="mdl-navigation__link" href="{{ url_for('new_post') }}">new post</a>
		<a class="mdl-navigation__link" href="{{ url_for('blog_settings') }}">settings</a>
		  {% endif %}
      </nav>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Nicholas Chung</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ url_for('home') }}">home</a>
        <a class="mdl-navigation__link" href="{{ url_for('about') }}">about</a>
		<a class="mdl-navigation__link" href="{{ url_for('index') }}">blog</a>
		{% if session.user %}
        <a class="mdl-navigation__link" href="{{ url_for('users_list') }}">users</a>
        <a class="mdl-navigation__link" href="{{ url_for('logout') }}">logout</a>
        <a class="mdl-navigation__link" href="{{ url_for('posts') }}">posts</a>
        <a class="mdl-navigation__link" href="{{ url_for('new_post') }}">new post</a>
        <a class="mdl-navigation__link" href="{{ url_for('blog_settings') }}">settings</a>
		{% endif %}
    </nav>
        <hr>
	{%- block search -%}{%- include 'search.html' -%}{%- endblock -%}
        <span class="mdl-layout-title">Recent posts</span>
        <nav class="mdl-navigation">
            {% for post in recent_posts %}
            <a class="mdl-navigation__link" href="{{ url_for('single_post', permalink=post['permalink']) }}">{{ post['title'] | safe }}</a></li>
            {% endfor %}
        {%- if tags -%}
        </nav>
        <span class="mdl-layout-title">Top Topics</span>
        <nav class="mdl-navigation">
            {% for tag in tags %}
            <a class="mdl-navigation__link" href="{{ url_for('posts_by_tag', page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
            {% endfor %}
        {%- endif -%}
        </nav>
  </div>