{%- extends 'index.html' -%}
{%- block body -%}
	<div class="post">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--10-col">
				{%- if posts -%}
					<div class="page-header">
						<h1>Posts</h1>
					</div>
					<div class="content">
						{%- with messages = get_flashed_messages(with_categories=True) -%}
		                    {%- if messages -%}
		                        {%- for category, message in messages -%}
		                            <div class="response">
		                                <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
		                            </div>
		                        {%- endfor -%}
		                    {%- endif -%}
		                {%- endwith -%}
						<a href="{{ url_for('new_post') }}" class="response mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Add new</a>
						<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric">Title</th>
									<th class="mdl-data-table__cell--non-numeric">Post Date</th>
									<th class="mdl-data-table__cell--non-numeric">Action</th>
								</tr>
							</thead>
							{%- for post in posts -%}
							<tbody>
								<tr>
									<td class="mdl-data-table__cell--non-numeric"><a title="Preview" href="{{ url_for('single_post', permalink=post['permalink']) }}" data-target="_blank">{{ post['title'] | safe }}</a></td>
									<td class="mdl-data-table__cell--non-numeric">{{ post['date'] |formatdate }}</td>
									<td class="mdl-data-table__cell--non-numeric"><a title="Edit" href="{{ url_for('post_edit', id=post['id']) }}" class="icon-edit-sign bigger icon"></a>{%- if posts|length > 1 -%}&nbsp;&nbsp;<a title="Delete" href="{{ url_for('post_del', id=post['id']) }}" class="icon-remove-sign bigger icon"></a>{%- endif -%}</td>
								</tr>
							</tbody>
							{%- endfor -%}
						</table>
					</div>
				{%- else -%}
					<div class="page-header">
						<h1>Posts not found..</h1>
					</div>
				{%- endif -%}
		    </div>
		</div>
	</div>
{%- endblock -%}
