{%- if recent_posts -%}
    <div class="mdl-cell mdl-cell--3-col sidebar">
    <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Recent articles</h2>
    </div>
        <hr>
    <div class="mdl-card__supporting-text">
    <ul>
    {% for post in recent_posts %}
        <li><a href="{{ url_for('single_post', permalink=post['permalink']) }}">{{ post['title'] | safe }}</a></li>
    {% endfor %}
    </ul>
    </div>
    {%- if tags -%}
        <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Top tags</h2>
        </div>
    <hr>
        <div class="mdl-card__supporting-text">
    <ul>
    {% for tag in tags %}
        <li><a href="{{ url_for('posts_by_tag', page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
    {% endfor %}
    </ul>
    {%- endif -%}
    </div>
    </div>
</div>
{%- endif -%}
